@import "tailwindcss";
@config "../tailwind.config.js";
@import "leaflet/dist/leaflet.css";

@theme {
    --color-bg: #070707;
    --color-mainBrand: #05df72;
    --inset-shadow-md: inset 0 3px #05df72;
    --inset-shadow-tab: inset 0 -1px #f4f4f51a;
    --inset-shadow-tab-active: inset 0 -2px #05df72;
}

@layer components {
    .page-wrapper {
        @apply bg-bg min-h-screen w-full max-w-[100vw] text-zinc-100 px-4 pt-16 pb-26;
    }

    .text-muted {
        @apply text-zinc-100/50 text-sm font-normal;
    }

    .text-bold {
        @apply text-zinc-100 font-bold;
    }

    .card {
        @apply rounded-2xl bg-zinc-100/10 p-4 flex-1 ring-1 ring-zinc-100/20;
        /* border border-white/10 backdrop-blur-xl */
    }

    .flex-between {
        @apply flex justify-between gap-3 items-center;
    }

    .button-main {
        @apply w-full p-4 mt-3 mb-3 bg-green-400 text-zinc-800 font-bold text-xl rounded-2xl;
    }

    .header {
        @apply fixed left-0 top-10 w-full px-8 py-4 text-zinc-100/50 text-sm font-normal text-center bg-bg z-10 min-h-[70px];

    }

    .header-Font {
        @apply text-zinc-100 font-bold text-xl leading-10 text-left;
    }

    .nav {
        @apply absolute top-0 right-4 h-full flex items-center gap-1;
    }

    .circle-avatar {
        @apply shrink-0 rounded-full bg-zinc-50/10 overflow-hidden inset-ring-2 inset-ring-zinc-100/10 flex items-center justify-center;
    }

    .circle-avatarImage {
        @apply size-14 rounded-4xl object-cover
    }

    .run-card {
        @apply flex justify-between items-center rounded-2xl bg-zinc-100/10 p-4 w-full ring-1 ring-zinc-100/20;
    }
}

.leaflet-container {
    z-index: 0;
}